.active-list {
    margin-top: 50px;
    width: 430px;
    
    .header {
        margin-bottom: 15px;
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
    }
}