.todo {
    width: 430px;
    background-color: #15101C;
    padding: 20px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    &--active {
        color: #9E78CF;
    }

    &--completed {
        color: #78CFB0;
        text-decoration: line-through;
    }

    .actions {
        align-items: flex-end;

        svg {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 10px;;
        }     

        &:hover {
            cursor: pointer;
        }
    }
}